.img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

#corner {
    border-radius: 25px;
    background: #10d410;
    padding: 20px;
    width: 200px;
    height: 100px;
    margin-top: 2%;
}

#floatedElement {
    float: left;
    text-align: center;
    width: 200px;
    height: 200px;
    padding-right: 1%;
}

#text {
    max-width: 50%;
}